<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cazz.css">
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <div id="logo">
                <img src="assets/Untitled_design__1_-removebg-preview.png" alt="">
            </div>
            <button onclick="location.href='Samvidhan_/Dashboard/profile.html'">
                <h5>profile</h5>
            </button>
            <h5>Debojyoti</h5>
            <div id="level">
                <h5>Lvl.10</h5>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 70%;"></div>
                </div>
                <h5>Lvl.11</h5>
            </div>
            <ul>
                <li><img src="assets/profile.svg" alt=""><a href="#" id="arcade">Arcade</a></li>
                <li><img src="assets/trophy.svg" alt=""><a href="Samvidhan_/Dashboard/achievement.html" id="trophy">Achievements</a></li>
                <li><img src="assets/menu.svg" alt=""><a href="Samvidhan_/Dashboard/leaderboard.html" id="servicesLink">Leaderboard</a></li>
                <li><img src="assets/gift.svg" alt=""><a href="#" id="contactLink">Play to Win!</a></li>
                <li><img src="assets/sign-out.svg" alt=""><a href="#" id="contactLink">Sign Out</a></li>
            </ul>
        </div>
        
        <div id="main">
            <div id="main-1">
                <h3>Hello there, Debojyoti</h3>
                <div id="top-page">
                    <div id="left">
                        <div class="pie-chart">
                            <div class="percentage">50%</div>
                        </div>
                        <div id="left-2">
                            <div id="l2p1">
                                <button>
                                    <img src="assets/xp  star badge.png" alt="">
                                    <h4>Total xp</h4>
                                </button>
                                <button>
                                    <img src="assets/joystick.png" alt="">
                                    <h4 class="Games">Games played</h4>
                                </button>

                            </div>
                            <div id="l2p2">
                                <button>
                                    <img src="assets/star.svg" alt="">
                                    <h4>challenges won</h4>
                                </button>
                                <button>
                                    <img src="assets/Medal.png" alt="">
                                    <h4>Honors</h4>
                                </button>
                                
                                

                            </div>
                        </div>
                    </div>
                    <div id="right">
                        <h3>Leaders</h3>
                        <div id="button-family">
                            <button>
                                <div id="num"><h5>RANK</h5></div>
                                <div id="name"><h5>NAME</h5></div>
                                <div id="score"><h5>TOTAL XP</h5></div>
                            </button>
                            <button>
                                <div id="num"><h5>1</h5></div>
                                <div id="name"><h5>Player-1</h5></div>
                                <div id="score"><h5>8990</h5></div>
                            </button>
                            <button>
                                <div id="num"><h5>2</h5></div>
                                <div id="name"><h5>player-2</h5></div>
                                <div id="score"><h5>7850</h5></div>
                            </button>
                            <button>
                                <div id="num"><h5>3</h5></div>
                                <div id="name"><h5>Player-3</h5></div>
                                <div id="score"><h5>6969</h5></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main-2">
                <div class="dropdown-container">
                    <div id="dropdown">
                        <span id="dropdownText">Select an option</span>
                        <div class="arrow">&#9662;</div>
                    </div>
                    <ul id="dropdownMenu">
                        <li class="dropdown-item" onclick="selectOption('Option 1')">Option 1</li>
                        <li class="dropdown-item" onclick="selectOption('Option 2')">Option 2</li>
                        <li class="dropdown-item" onclick="selectOption('Option 3')">Option 3</li>
                    </ul>
                </div>

                <div class="search-container">
                    <input type="text" placeholder="Search..." class="search-input">
                    <button class="search-button"></button>
                </div>
            </div>

            <div id="main-3">
                <div id="row-1">
                    <div id="task">
                        <img src="assets/1.jpeg" alt="">
                        <h3>Learn</h3>
                        <button>Start</button>
                    </div>
                    <div id="journey">
                        <img src="assets/2.jpeg" alt="">
                        <h3>Case Studies</h3>
                        <button>Start</button>
                    </div>
                    <div id="qtm-challenge">
                        <img src="assets/3.jpeg" alt="">
                        <h3>ConQuest</h3>
                        <button onclick="location.href='Samvidhan_/HomePage/GameSection/pathgame.html'">Start</button>
                    </div>
                    <div id="qtm-team">
                        <img src="assets/4.jpeg" alt="">
                        <h3>The Forum</h3>
                        <button>Start</button>
                    </div>
                    <div id="forum">
                        <img src="assets/5.jpeg" alt="">
                        <h3>Mock parliament</h3>
                        <button>Start</button>
                    </div>
                </div>
            </div>
        </div>
    <script src="scriptious.js"></script>
</body>
</html>